<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">


    <!--        <title>Page title         </title>                                -->
    <!--        필요하다면 개별 파일에 사용될 css/js 선언                               -->
</head>

<body layout:fragment="content">
<div class="container">
    <h3><br>작성한 글</h3>
</div>
<div class="container">
    <div th:each="post : ${post}">
        <p><br><br></p>
        <div class="row g-0 bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <a th:href="@{/api/post/form(post_id=${post.id})}" class="stretched-link">
                    <img th:src="${post.filepath}" height="200px" alt="...">

                </a>
            </div>

            <div class="col-auto " style="justify-content:center;
                                    align-items:center;  display: flex;">
                <a>
                    <h4 style="font-weight:bold pb-4" th:text="${post.title}"></h4>

                    <h5 th:if="${post.bigCategory}=='donationTogether'">같이기부</h5>
                    <h5 th:if="${post.bigCategory}=='promotion'">프로모션</h5>

                    <span class="h5">작성 날짜:</span>

                    <span class="h5" th:text="${post.createdDate}"></span>
                </a>
            </div>

        </div>
    </div>
</div>


</body>
</html>