<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">

    <!--        <title>Page title         </title>                                -->
    <!--        필요하다면 개별 파일에 사용될 css/js 선언     -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{../js/file.js}"></script>


</head>

<body layout:fragment="content">

<div class="container  ">
    <main>
        <div class="py-4 text-left  " style="width: 70%; float:none; margin:0 auto">
            <!--<img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
            <!-- <h2>Checkout form</h2>-->
            <p class="lead ">
            <h4><b> 글 수정하기</b></h4>
            </p>
        </div>

        <div class="col-md-7 col-lg-6 justify-content-lg-center" style="width: 70%; float:none; margin:0 auto">
            <h4 class="mb-3"></h4>
            <form class="needs-validation" novalidate  th:action="@{'/api/post/modify/' +${post.board_id}}"  method="post"
                  enctype="multipart/form-data">
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" name="id" th:value="${post.board_id}"/>
                <div class="row g-3">
                    <!--
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    유효한 이름이 필요합니다.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                            -->

                    <!--<a> login as: <span id="user"   th:text="${userName}"></span></a>-->
                    <!--  <a> "[[${userName}]]"</a>-->


                    <div class="col-12 form-group ">
                        <label for="title" class="form-label"><b>제목</b></label>
                        <input type="title" class="form-control" id="title" name="title" required th:value="${post.title}">
                        <div class="invalid-feedback">
                            Please enter a title.
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label for="username" class="form-label  "><b>작성자</b></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>

                            <input type="text " class="form-control " id="username" readonly name="author"
                                   th:placeholder="${userName}">
                            <!-- <span th:text="${userName}" readonly     </span>   placeholder=작성자-->
                            <div class="invalid-feedback">
                                Please enter a valid author.
                            </div>
                        </div>
                    </div>

                    <div class="col-12  form-group">
                        <label for="title" class="form-label"><b>카테고리 분류</b></label>
                    </div>


                    <div class="form-check col-sm-auto pt-1 form-group mb-3">
                        <input id="donationTogether" name="bigCategory" type="radio" class="form-check-input"
                               required  onchange="setDisplay()"  >
                        <label class="form-check-label" for="donationTogether" >같이 기부</label>
                        <div class="invalid-feedback">
                            Please select a form.
                        </div>
                    </div>


                    <div class="col-sm-auto col-md-auto form-group " id="category1" style="display:none;">

                        <select class="form-select " id="smallCategory" required name="smallCategory"
                                th:value="${post.smallCategory}"
                        >
                            <option value="option1" disabled >카테고리 선택</option>
                            <option value="모금중">모금중</option>
                            <option value="모금후기">모금후기</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a form.
                        </div>

                    </div>

                    <div class="col-sm-auto  col-md-auto form-group" id="category2" style="display:none;">
                        <select class="form-select" id="topic" required name="topic" th:value="${post.topic}">
                            <option value="option1" disabled >주제선택</option>
                            <option value="어린이">어린이</option>
                            <option value="지구촌">지구촌</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a form.
                        </div>
                    </div>


                    <div class="form-check form-group ">
                        <input id="promotion" name="bigCategory" type="radio" class="form-check-input" required
                              onchange="setDisplay()" value="promotion"   >
                        <label class="form-check-label" for="promotion">프로모션</label>
                        <div class="invalid-feedback">
                        </div>
                    </div>



                    <hr class="my-3">

                    <div class="col-12 form-group">
                        <label for="currentPrice" class="form-label">현재 모금액</label>
                        <input type="text" class="form-control" id="currentPrice" name="currentPrice"
                               th:value="${post.currentPrice}"
                               required>
                        <div class="invalid-feedback">
                            Please enter a current price.
                        </div>
                    </div>


                    <div class="col-12 form-group">
                        <label for="endPrice" class="form-label">목표 금액</label>
                        <input type="text" class="form-control" id="endPrice" name="endPrice"
                               th:value="${post.endPrice}"
                               required>
                        <div class="invalid-feedback">
                            Please enter a target price.
                        </div>
                    </div>


                    <div class="col-12 form-group">
                        <label for="file" class="form-label">썸네일 등록</label>
                        <input type="file" name="file" class="form-control" id="file" th:value="${post.filepath}" required>
                        <!--th:field="*{image}"-->
                        <div class="invalid-feedback">
                            Please select a file.
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label for="subTitle" class="form-label">부제목</label>
                        <input type="text" class="form-control" id="subTitle" name="subTitle"

                               th:value="${post.subTitle}"
                               required>
                        <div class="invalid-feedback">
                            Please enter a subtitle;
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label for="content" class="form-label">본문</label>
                        <textarea class="form-control" id="content" rows="10" name="content" required
                                  >[[${post.content}]]</textarea>
                        <div class="invalid-feedback">
                            Please enter a content.
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label for="tag1" class="form-label">태그 설정</label>
                    </div>


                    <div class="col-md-4 form-group">

                        <input class="form-control" id="tag1"   th:value="${post.tag1}" required name="tag1">
                        <div class="invalid-feedback">
                            Please enter a tag1.
                        </div>
                    </div>

                    <div class="col-md-4 form-group">

                        <input class="form-control" id="tag2"  placeholder="태그2(선택)" th:value="${post.tag2}" name="tag2" >
                        <div class="valid-feedback">

                        </div>
                    </div>

                    <div class="col-md-4 form-group">

                        <input class="form-control" id="tag3"  placeholder="태그3(선택)" th:value="${post.tag3}" name="tag3" >
                        <div class="valid-feedback">

                        </div>
                    </div>


                    <div class="col-12 form-group">
                        <label for="endDate" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="endDate" placeholder="종료일을 선택해주세요" required
                               name="endDate"  th:value="${post.endDate}">
                        <div class="invalid-feedback">
                            Please select end date.
                        </div>
                    </div>


                    <hr class="my-4">


                    <!-- <a class="btn btn-secondary my-2 my-sm-0 mx-2" href="/">메인화면으로</a>-->

                    <input type="submit" class="btn btn-dark btn-lg"></input>

                    <br>
                    <br>

                    <br>
                </div>
            </form>

        </div>

    </main>


    <br>
    <br>
</div>

<!-- 같이기부 카테고리분류 jQuery hide and show-->
<script>
                    function setDisplay(){
                        if($('input:radio[id=promotion]').is(':checked')){
                            $('#category1').hide();
                            $('#category2').hide();


                        }else{
                            $('#category1').show();
                            $('#category2').show();
                        }
}

// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()


</script>
<!-- 같이기부 카테고리분류 jQuery hide and show-->




</body>
</html>