<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<style>
    @media (min-width: 768px){.container
    {width: 750px;}}
    @media (min-width: 992px) {.container { width: 940px; }}
    @media (min-width: 1200px) { .container { width: 940px; }}


</style>
-

<head>
    <meta charset="UTF-8">

    <!--        <title>Page title         </title>                                -->
    <!--        필요하다면 개별 파일에 사용될 css/js 선언                               -->

    <script type="text/javascript">

function clip(){

	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.")
	console.log("URL이 복사되었습니다");
}

</script>



</head>



<body layout:fragment="content">

<!-- Jumbotron -->
<div   class="image background-image  p-5 text-center shadow-1-strong rounded mb-5 text-white  "

        th:style="'background-image:url('+ ${post.filepath} +');
background-color: rgba(0, 0, 0, 0.15);
background-size: cover;
 background-position: center center;
   z-index:1;
        background-blend-mode: multiply;' "

>
    <h1 class="mb-1 h1 strong" th:text="${post.title}">제목</h1>
    <h5 class="mb-4 h5 text-muted" th:text="${post.author}">작성자</h5>

    <div class="box text-center">
        <span class="badge rounded-pill text-bg-light " th:text="${post.tag1}">tag1</span>
        <span class="badge rounded-pill text-bg-dark" th:text="${post.tag2}">tag2</span>
        <span class="badge rounded-pill text-bg-light" th:text="${post.tag3}">tag3</span>
    </div>


</div>

<div class="container ">
    <h3 class="mb-4 h3 bold " style="font-weight:bold" th:text="${post.subTitle}">부제목</h3>
    <div style="mb-4  white-space:pre;" th:text="${post.content}">content</div>

    <hr class="my-4">
</div>

<!-- Jumbotron -->

<div class="container text-center ">

    <h2 style="font-weight: bold; color:#B404AE" th:text="${post.currentPrice} + '원'">현재모금액</h2>
    <a th:text="${post.endPrice} + '원 목표'">목표금액</a>


</div>

<div class="container">
    <div style="position: fixed; right: 3rem; bottom: 1rem;">



        <!--
        <a type="button" class="btn btn-secondary" style="background-color:#F15F5F"  th:href="@{/api/post/modify(id=${post.board_id})}">수정</a>

        <form id="delete-form" th:action="|/api/post/modify/${post.board_id}|" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button type=" submit" class="btn btn-secondary"style="background-color:#F29661"  >삭제</button>
        </form>

     -->
        <div sec:authorize-expr="isAuthenticated()" or th:if="${#strings.equals(post.id,login_id)}" class="d-block">
        <form  th:action="|/api/post/modify/${post.id}|" method="post">

        <a type="button" class="btn btn-secondary" style="background-color:#F15F5F"  th:href="@{/api/post/modify(post_id=${post.id})}">수정</a>

            <form action="#" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button type=" submit" class="btn btn-secondary"style="background-color:#F29661">삭제</button>
        </form>
        </form>
        </div>



        </div>
</div>

<div class="container mt-4">
    <div class="btn-group justify-content-lg-center col-12 py-5 ">
        <a href="#" class="btn btn-primary active" aria-current="page">
            <i class="bi-heart" width="30" height="30" style="font-size:1rem; color: red; cursor: pointer;"></i>
            응원하기</a>


        <a href="#" class="btn btn-primary" onclick="clip();return false;"> <img src="/icons/share-from-square-solid.svg" alt="" width="20"
                                                  height="25">URL 주소복사</a>

        <a href="#" class="btn btn-primary active">기부하기</a>

    </div>
</div>


<div sec:authorize-expr="isAuthenticated()"  class="d-block">
    <!-- 로그인 유저와 작성자가 동일하지 않다면 -->
    <!-- 좋아요 -->
    <input type="hidden" id="like_check" th:value="${like}">
    <img th:id="likeImg" src="https://solchan-kakao-web-bucket.s3.ap-northeast-2.amazonaws.com/icons/like_empty.png" alt="" width="30px"
         height="30px">

    <span th:text="${post.likeCount}"></span>
</div>

<div sec:authorize-expr="!isAuthenticated()"th:unless="${#strings.equals(post.getUser_id(),login_id)}">
    <!-- 로그인하지 않은 유저라면 -->
    <img id="loginCheck" src="https://solchan-kakao-web-bucket.s3.ap-northeast-2.amazonaws.com/icons/like_empty.png" alt="" width="30px"
         height="30px">
    <span th:text="${post.likeCount}"></span>
</div>

<!-- 작성자 조회수 추천수 시간-->
<div class="row mb-4">
    <div class="col-auto">
        <span class="h6" th:text="${post.author}"></span>
    </div>
    <div class="col-auto">
        <span>조회</span>
        <span class="h6" th:text="${post.viewCount}"></span>
    </div>
    <div class="col-auto">
        <span>추천</span>
        <span class="h6" th:text="${post.likeCount}"></span>
    </div>
    <div class="col-auto">
        <span>작성 날짜</span>
        <span class="h6"
              th:text="${post.createdDate}"></span>
    </div>
    <div class="col-auto">
        <span>postId</span>
        <span class="h6"
              th:text="${post.id}"></span>
    </div>
</div>
<input type="hidden" id="postId" th:value="${post.id}">
<!--                                        <input type="hidden" id="memberId" th:value="${member_id}">-->


<script >

    const clickLikeUrl = "https://solchan-kakao-web-bucket.s3.ap-northeast-2.amazonaws.com/icons/like_click.png";
const emptyLikeUrl = "https://solchan-kakao-web-bucket.s3.ap-northeast-2.amazonaws.com/icons/like_empty.png";

/** 좋아요 유무에 따라 하트 그림 다르게 보여줌 **/
//브라우저가 웹 문서를 읽기 시작하고 DOM이 생성되면 실행되는 메소드

$(function(){

    // 현재 로그인한 유저가 해당 게시물을 좋아요 했다면 likeVal = true,
    // 좋아요하지 않았다면 false

    let likeVal = $('#like_check').val(); // 데이터가 있으면 true
    const likeImg = $('#likeImg');

    console.log("likeVal : " + likeVal);

    if(likeVal === 'true'){
        // 데이터가 존재하면 화면에 채워진 하트 보여줌
        $('#likeImg').attr("src", clickLikeUrl);
    } else if(likeVal === 'false'){
        // 데이터가 없으면 화면에 빈 하트 보여줌
        $('#likeImg').attr("src", emptyLikeUrl);
    }
});

/** 좋아요 클릭 시 실행 **/
$('#likeImg').click(function() {

    const postId = $('#postId').val();
    const likeVal = $('#like_check').val();

    console.log(likeVal);
    if (likeVal === 'true') {
        const con_check = confirm("현재 게시물 추천을 취소하시겠습니까?")
        if (con_check) {
            console.log("추천 취소 진입");
            $.ajax({
                type: 'POST',
                url: '/rest/form/post/like/' + postId,
                contentType: 'application/json; charset=utf-8'
            }).done(function () {
                $('#likeImg').attr("src", emptyLikeUrl);
                location.reload();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            })
        }
    } else if(likeVal === 'false'){
        const con_check = confirm("현재 게시물을 추천하시겠습니까?");
        if (con_check) {
            console.log("추천 진입");
            $.ajax({
                type: 'POST',
                url: '/rest/form/post/like/' + postId,
                contentType: 'application/json; charset=utf-8'
            }).done(function () {
                $('#likeImg').attr("src", clickLikeUrl);
                location.reload();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            })
        }
    }
});

/** 로그인하지 않은 유저가 좋아요 누를 때 **/
$('#loginCheck').click(function(){
    alert("로그인 후 이용할 수 있습니다.");
});



</script>
</body>
</html>