<!-- 공통적으로 사용할 css.js파일 선언 코드등을 모은 파일 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- configFragment-->
<th:block th:fragment="configFragment">
    <!-- Style 예시-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--container 크기 조절-->

    <style>
    @media (min-width: 768px){.container
    {width: 750px;}}
    @media (min-width: 992px) {.container { width: 940px; }}
    @media (min-width: 1200px) { .container { width: 940px; }}

    </style>

    <!--container 크기 조절-->


    <!-- javascript file.js 예시-->
    <!--<script th:src="@{}"></script>-->




</th:block>

</html>>
