
<!-- header 제작-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
  <div class="container-xl">
    <a class="navbar-brand" href="#">솔찬의 우리같이</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
            aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown"
             aria-expanded="false">같이기부</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
            <li><a class="dropdown-item" href="#">모금중</a></li>
            <li><a class="dropdown-item" href="#">모금후기</a></li>
            <li><a class="dropdown-item" href="#">나눔캠페인</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07XK" data-bs-toggle="dropdown"
             aria-expanded="false">프로모션</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
            <li><a class="dropdown-item" href="#">전체</a></li>
            <li><a class="dropdown-item" href="#">진행중</a></li>
            <li><a class="dropdown-item" href="#">종료</a></li>
          </ul>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="#">더보기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

        <li class="nav-item justify-content-end">
          <a class="nav-link " href="#">로그인</a>
        </li>


      </ul>
      <form role="search">
        <a class="btn btn-secondary my-2 my-sm-0 mx-2" href="/api/posts" type="submit">등록하기</a>

      </form>

      <form role="search">
        <a class="btn btn-secondary my-2 my-sm-0" href="/oauth2/authorization/google" type="submit">google
          Login</a>

      </form>
      <form role="search">
        <a class="btn btn-secondary my-2 my-sm-0 mx-2 bg-green" href="/oauth2/authorization/naver"
           type="submit">naver Login</a>

      </form>
      <form role="search">

        <button class="btn btn-secondary mx-2 my-sm-0 " href="/logout" type="submit">Logout</button>
      </form>

      <!--
            <form class="form-inline my-2 my-lg-0"  th:action="@{/logout}">
              <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
              <button sec:authorize="isAnonymous()"  href="/oauth2/authorization/google" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Google Login</button>
            </form>

      -->
    </div>
  </div>
</nav>