<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

</head>

<!-- 등록하기 header  -->


<body>
<!- header 제작-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
    <div class="container-xl">
        <a class="navbar-brand" href="#">솔찬의 우리같이</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
                aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown"
                       aria-expanded="false">같이기부</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
                        <li><a class="dropdown-item" href="#">모금중</a></li>
                        <li><a class="dropdown-item" href="#">모금후기</a></li>
                        <li><a class="dropdown-item" href="#">나눔캠페인</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07XK" data-bs-toggle="dropdown"
                       aria-expanded="false">프로모션</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
                        <li><a class="dropdown-item" href="#">전체</a></li>
                        <li><a class="dropdown-item" href="#">진행중</a></li>
                        <li><a class="dropdown-item" href="#">종료</a></li>
                    </ul>
                </li>
                <li class="nav-item justify-content-end">
                    <a class="nav-link" href="#">더보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item justify-content-end">
                    <a class="nav-link " href="#">로그인</a>
                </li>
            </ul>
            <form role="search">
                <a class="btn btn-secondary my-2 my-sm-0" href="/oauth2/authorization/google" type="submit">google
                    Login</a>
            </form>
            <form role="search">
                <a class="btn btn-secondary my-2 my-sm-0 mx-2 bg-green" href="/oauth2/authorization/naver"
                   type="submit">naver Login</a>
            </form>
            <form role="search">
                <button class="btn btn-secondary mx-2 my-sm-0 " href="/logout" type="submit">Logout</button>
            </form>
            <!--
                      <form class="form-inline my-2 my-lg-0"  th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
                        <button sec:authorize="isAnonymous()"  href="/oauth2/authorization/google" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Google Login</button>
                      </form>
                -->
        </div>
    </div>
</nav>

<!-- 등록하기 header 끝-->


<div class="container  ">
    <main>
        <div class="py-4 text-left  " style="width: 70%; float:none; margin:0 auto">
            <!--<img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
            <!-- <h2>Checkout form</h2>-->
            <p class="lead ">
            <h4><b> 글 등록하기</b></h4>
            </p>
        </div>

        <div class="col-md-7 col-lg-6 justify-content-lg-center" style="width: 70%; float:none; margin:0 auto">
            <h4 class="mb-3"></h4>
            <form class="needs-validation" novalidateaction   action="#" th:action="@{/api/post}"  method="post">
                <div class="row g-3">
                    <!--
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    유효한 이름이 필요합니다.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                            -->

                    <!--<a> login as: <span id="user"   th:text="${userName}"></span></a>-->
                    <a> "[[${userName}]]"</a>


                    <div class="col-12 form-group">
                        <label for="title" class="form-label"><b>제목</b></label>
                        <input type="title" class="form-control" id="title" name="title" required>
                        <div class="invalid-feedback">
                            유효한 제목을 입력하세요.
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label for="username" class="form-label  "><b>작성자</b></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>

                            <input type="text " class="form-control " id="username" name="author"  >
                               <!-- <span th:text="${userName}" readonly     </span>   placeholder=작성자-->
                            <div class="invalid-feedback">
                                유효한 작성자를 입력하세요.
                            </div>
                        </div>
                    </div>

                    <div class="col-12  form-group" >
                        <label for="title" class="form-label"><b>카테고리 분류</b></label>
                    </div>


                    <div class="form-check col-sm-auto pt-1 form-group">
                        <input id="donationTogether"  name="bigCategory" type="radio" class="form-check-input" checked
                               required  value="donationTogether">
                        <label class="form-check-label" for="donationTogether">같이 기부</label>
                    </div>


                    <div class="col-sm-auto col-md-auto form-group">

                        <select class="form-select " id="smallCategory"  checked required name="smallCategory">
                            <option value="option1">카테고리 선택</option>
                            <option value="option2">모금중</option>
                            <option value="option3">모금후기</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid category.
                        </div>

                    </div>

                    <div class="col-sm-auto  col-md-auto form-group">
                        <select class="form-select" id="topic"  checked required  name="topic">
                            <option value="option1">주제선택</option>
                            <option value="option2">어린이</option>
                            <option value="option3">지구촌</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid category.
                        </div>
                    </div>



                    <div class="form-check form-group">
                        <input id="promotion" name="bigCategory" type="radio" class="form-check-input" required value="promotion">
                        <label class="form-check-label" for="promotion" >프로모션</label>
                    </div>

                    <hr class="my-4">

                    <div class="col-12 form-group">
                        <label for="priceState" class="form-label">목표 금액</label>
                        <input type="text" class="form-control" id="priceState" name="priceState" placeholder="단위를 제외한 숫자를 적어주세요"
                               required  >
                        <div class="invalid-feedback">
                            목표금액을 입력하세요
                        </div>
                    </div>


                    <div class="col-12 form-group">
                        <label for="thumbnail" class="form-label">썸네일 등록</label>
                        <input type="file" name="thumbnail" class="form-control" id="thumbnail" placeholder="file"  >
                        <!--th:field="*{image}"-->
                    </div>


                    <div class="col-12 form-group">
                        <label for="content" class="form-label">본문</label>
                        <textarea class="form-control" id="content"  rows="10" name="content" required placeholder="내용을 입력해주세요"></textarea>
                    </div>

                    <div class="col-12 form-group">
                        <label for="tag1" class="form-label" >태그 설정</label>
                    </div>


                    <div class="col-md-4 form-group">

                        <input class="form-control" id="tag1" placeholder="태그1(필수)"required name="tag1">
                        <div class="invalid-feedback">
                            태그를 입력하세요
                        </div>
                    </div>

                    <div class="col-md-4 form-group">

                        <input class="form-control" id="tag2" placeholder="태그2(선택)" name="tag2">

                    </div>

                    <div class="col-md-4 form-group">

                        <input class="form-control" id="tag3" placeholder="태그3(선택)" name="tag3">

                    </div>





                    <div class="col-12 form-group">
                        <label for="endDate" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="endDate" placeholder="종료일을 선택해주세요" required name="endDate" >
                        <div class="invalid-feedback">
                            종료일을 입력하세요
                        </div>
                    </div>


                    <hr class="my-4 ">


                        <a class="btn btn-secondary my-2 my-sm-0 mx-2" href="/" >메인화면으로</a>

                        <input type="submit" class="btn btn-dark btn-lg"  ></input>

                    <br>
                    <br>

                    <br>
                </div>
            </form>

        </div>

    </main>
    <!--
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017–2022 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
        -->
</div>

<br>
<br>


</body>
</html>